.menu-background{
    background-color: rgba(37, 37, 37, 0.913);
    backdrop-filter: blur(10px);
    height: 100vh;
    width:100%;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.left-menu{
    text-align: left;
    margin-left: 5rem;
    height:40rem ;
    margin-top: 14rem;
    position: fixed;
}

.left-menu-buttons{
    cursor: pointer;
    font-weight: 900;
    color: #85888C;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    line-height: 50px;
    overflow: hidden;
}

.left-menu-buttons:hover {
    color: white; 
}

.right-menu{
    
    height:40rem;
    width: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.login-box{
    background-color:#363738;
    width: 30rem;
    height: 22rem;
    margin-top: 14rem;
    margin-left: 46rem;
    position: fixed;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    color: white;

}


.login-title{
    font-size: 25px;
    font-weight: 700;
}

.right-menu-phrase{
    font-size: 15px;
    color: gray;
    margin-top: -5rem;
}

.log-in{
    width: 25rem;
    height: 3rem;
    padding: 0;
    margin-bottom: -4.85rem;
    background-color: #29EEA7;
    font-weight:800;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
}

.sign-up{
    margin-bottom: 0rem;
    background-color: #FCFCFD;
}

.hr-menu{ 
    background-color:#31B7F0;
    width: 30rem;
    height: 8.5rem;
    margin-top: 37rem;
    margin-left: 46rem;
    color: white;
    position: fixed;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1rem;
    padding-top: 1.25rem;
    cursor: pointer;
    
}

.hr-phrase1{
    font-size: 19px;
    font-weight: 900;
    margin-right: 7rem;
}
.hr-phrase2{
    font-size: 13px;
}

.available{
    display: block;
}

.home-page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;

}

.home-background-right{
    background:url(..//Assets/ntitled\ design\ \(12\).png) no-repeat;
    background-size: cover;
    width: 50vw;
    margin: 0%;
    height: 100vh; 
}

.home-background-left{
    flex: 1; 
    background-image: url(..//Assets/Untitled\ design\ \(11\).png);
    background-size: cover;
    height: 100vh;
    margin: 0%;
    width: 50vw;
}

header{
    width: 100vw;
    height: 13rem;
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rectangle-logo-img{
    width: 11.5rem;
    height: auto;
}

.rectangle-logo-button{
    cursor:pointer;
    background-color: transparent;
    margin-top:3.5rem ;
    margin-left: 4rem; 
    width: 11.5rem;
    height: 8rem;
}

.menu-logo-button{
    width: 45px;
    height: 45px;
    margin-right: 70px;
    margin-top: 6rem;
    background-color:  #363738;
    border-radius: 10px;
    cursor: pointer;
    
}

.menu-logo-img{
    width: auto;
    height: 40px;
}

.colored-background{
    height: 100vh;
}

.gray-background{
    background-color: rgba(35, 35, 35, 0.8);
    height: 100vh;
}

.title-left::after {
    content: '';
    position: relative;
    right: -20px;
    bottom: 6px;
      width: 14px;
      height: 2px;
    background-color: #DAFDBA;
    animation: blink 0.5s linear infinite;
}
  
@keyframes blink {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.home-description-left{
    display: flex;
    flex-direction: column;
    align-items:end;
    margin-top: 15rem;
    margin-right: 3rem;
    padding: 50px 70x 50px 70px ;

}

.slogan-left{
    width: auto;
    height: auto;
    background-color: #363738;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 2.5;
    font-weight: 800;
}

.slogan-right{
    background-color: #F1F2F3;
    color: black;
}

.title-left{
    width: auto;
    height: auto;
    color: white;
    font-size: 35px;
    margin-bottom: 3rem;
    font-weight: 800;
    margin-top: -0.75rem;
    position: relative;
}
.title-left::after {
    content: '';
    position: absolute;
    right: -20px;
    bottom: 6px;
    width: 18px;
    height: 6px;
    background-color: white;
    animation: blink 0.5s linear infinite;
}
  
@keyframes blink {
    0% {opacity: 1;
    }
    100% {opacity: 0;
    }
}

.description-left{
    width: 33rem;
    height: auto;
    color: white;
    font-size: 15px;
    line-height: 20px;
    text-align: right;
    letter-spacing: 2px;
    margin-top: -3rem;
    overflow-y: hidden;
}

.description-button-left{
    background-color: #2E2934;
    color: white;
    width:8.5rem;
    height: 3rem;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.description-button-right{
    background-color: #F1F2F3;
    color:black;
}
.home-description-right{
    align-items: flex-start;
    margin-left: 3rem;
    
}

.description-right{
    text-align: left;
    font-size: 14px;
    width: 30rem;
    color: #F1F2F3;
}

.section-2{
    width: 100vw;
    height: 160vh;
    background-color: #F1F2F3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.section2-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5rem;
}

.sec2title-right{
    gap: 0.5rem;
    margin-right: 6.5rem;
    height: fit-content;
}

.green-arrow{
    width: 3rem;
    height: 3rem;
    color: #29EEA7;
    font-weight: 800;
    margin-left: 4rem;
    font-size: 35px;
    text-align: start;
    padding-left: 1rem;
}

.hello-title{
    font-size: 25px;
    height: 3rem;
    width: 14rem;
    font-weight: 800;
    padding-top: 0.25rem;
}

.black-cirlce{
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%; 
}

.grey-circle{
    background-color: #85888C;
}

.green-circle{
    background-color:#29EEA7 ;
}

.video-section{
    width:70rem ;
    height: 40rem;
    border:#29EEA7 15px solid;
    margin-top: 10rem;
    position: relative;
    margin-left: 4rem;
    border-radius: 25px;

}

.section-3{
    background-color: white;
    margin-top: 4rem;
    height: 120vh;
}

.section3-body{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 4rem;
    margin-top: 15rem;
    margin-right: 5rem;
}

.left-div3{
    background-color:#F1F2F3 ;
    border-radius: 20px;
    width: 53rem;
    height: 28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 4rem;
    color: #363738;
    
}

.right-div3{
    background-color: transparent;
    justify-content: space-between;
    padding-bottom: 0;
    gap: 1rem;

}

.upper-div{

    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    
}

.style-1000{
    
    height:13rem ;
    background-color: #F1F2F3;
    border-radius: 20px;
    width: 18rem;
    font-size: 16px;
    padding: 1.5rem;
}

.style-10{
    width: 14rem;
}

.style-220{
    width: 16rem;
}
.style-300{
    width: 15rem;
}

.numbers-style{
    font-size: 70px;
    font-weight: 800;
}
.milstone-percentage{
    width: 25rem;
    font-size: 110px;
    font-weight: 800;
    
}

.milstone-phrase{
    width: 25rem;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 2rem;
}

.milstone-paragraph{
    width: 25rem;
}

.bold-numbers{
    font-weight: bold;
}

.section-4{
    width: 100vw;
    height: 140vh;
    background-color:#29EEA7;
    margin-top: 4rem;

}

.programs-section4{
    background-color: #363738;
    color: #F1F2F3;
    width: 9rem;
    
}

.grey-background-arrow{
    background-color: #363738;
}

.white-circle{
    background-color:white ;
}

.programs-head{
    width: 35rem;
    height: 3.5rem;
    position: relative;
    margin-top: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
    margin-left: 4rem;
}

.choices-head{
    background-color: transparent;
    width: 7.5rem;
    height: 3.5rem;
    font-weight: 800;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    font-size: larger;
    cursor: pointer;
    color: black;
}

.clicked-head{
    background-color: #363738;
    cursor: pointer;
    color: #29EEA7;
}

.program-description{
    background-color: #363738;
    width: 70rem;
    height: 29rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-left: 4rem;
    border-radius: 20px;
    border-top-left-radius: 0px;
}

.program-details{
    width:45rem;
    height: 29rem;
}

.program-image-decoration{
    height: 26.5rem;
    width: 24rem;
    margin: 1rem;
    border-radius: 10px;
}

.program-title{
    color: #F1F2F3;
    margin: 3rem;
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    font-family:"Noto Sans Mono";

}

.different-color{
    color: #29EEA7;
    margin-right: 1rem;
}                   

.program-explanation{
    color: #F1F2F3;
    font-size: 13px;
    width: 40rem;
    margin: 1rem;
    margin-left: 3rem;
    height: 9.2rem;

}

.course-appointments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem;
    gap: 0.5rem;
}

.appointment-tag{
    background-color:#232323;
    color: white;
    width:24rem;
    height: 2.9rem;
    font-size: 13px;
    justify-content: center;
    text-align: center;
    font-weight: 800;
    padding-top: 0.8rem;

}

.info-div{
    text-align: end;
}
.info-button{
    width:24rem;
    height: 2.9rem;
    background-color:#232323;
    color: white;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    padding-left: 5rem;
}

.section-5{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}
.section5-background{
    background-color:#363738
}
.hire-title{
    color: #F1F2F3;
}

.recruitment-partner-container{
    background-color: #232323;
    display: flex;
    flex-direction: column;
    width: 70rem;
    height: 29.2rem;
    position: relative;
    margin-left: 4rem;
    margin-top: 10rem;
    border-radius: 20px;
    color: #F1F2F3;
}

.recruitment-partner-title{
    margin-top: 3rem;
    margin-left: 3rem;
    font-weight: 800;
    font-size: 22px;
}

.recruitment-partner-ad{
    margin-top: 1.5rem;
    margin-left: 3rem;
    background-color:#363738;
    height: 3.5rem;
    width: 45rem;
    font-size: 15.8px;
    padding: 1rem;
}

.green-color{
    color: #29EEA7;
    font-weight: 600;
}

ol{
    padding-left: 2rem;
}
.adv-list{
    margin-left: 3rem;
    margin-top: 1.5rem;
    list-style: decimal inside;
    font-size: 14px;
    line-height: 25px;
}

.adv-contact{
    width: 65rem ;
    height: 3rem;
    font-size: 15px;
    padding-top: 0.7rem;
    text-align: end;
    cursor: pointer;
    font-weight: 800;
}

.hr-call{
    position: relative;
    height: 5rem;
    background-color: #232323;
    width: 70rem;
    font-size: 15.8px;
    padding: 1rem;
    margin-left: 4rem;
    margin-top: 2.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

}

.hr-question{
    color: #F1F2F3;
    font-size: 20px;
    margin-right: 1rem;
    font-weight: 300;
}

.hr-logo{
    cursor: pointer;
}